h1, p {
    text-align: center;
}
li:hover {
    background-color: black;
    color: white;
    transition: 500ms;
}
li:active {
    font-family: fantasy;
    font-size: 20px;
    transition: 400ms;
}
ul, ol {
    list-style: none;
}