<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC com express</title>
</head>
<body>
  <div>
    <p>Nome: <%= choosen.name %></p>
  </div>
  <a href="/authors">Voltar para página inicial</a>
</body>
</html>