.super-mario {
    width: 150px;
    position: absolute;

}
.goomba {
    width: 150px;
    position: absolute;
}
.bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 1;
}
.baloon {
    width: 150px;
    position: absolute;
    left: 375px;
    z-index: 2;
}