body {
    font-size: 16px;
    text-align: center;
    text-decoration: wavy;
}
h1 {
    font-size: 65px;
    color: rgb(255,165,0);
    font-family: sans-serif;
}
ul {
    background-color: rgb(170,0,255);
    font-style: italic;
    line-height: 50px;
    text-align: right;
}
.fundão {
    background-color: rgb(120, 90, 190);
}
p {
    font-weight: 600;
    font-size: 3em
}
#amarelo {
    background-color: rgb(255,255,0);
}
#vermelho {
    background-color: rgb(255,0,0);
}
#marrom {
    background-color: rgb(75,42,0);
}