div:hover {
    line-height: 10px;
    border-style: solid;
    border-color:orange;
    border-radius: 50px;
}
div:nth-of-type(1) {
    color: red;
}
div:nth-of-type(2) {
    color: purple;
}
div:nth-of-type(3) {
    color: rgb(150,150,150);
    font-size: 36px;
}
div:nth-of-type(4) {
    color: rgb(0, 0, 104);
}
div:nth-of-type(5) {
    color: rgb(0,255,255);
}
div:nth-child(odd){
    font-style: italic;
}